/* Configuração geral */
body {
  background: linear-gradient(135deg, #330000, #a00404);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(90deg, #a00404, #7d0505);
  border-bottom: 4px solid #000;
}

/* Logo */
.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* Menu de navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
}

/* Mensagem de boas-vindas */
.event-message {
  background: linear-gradient(135deg, #8a0707, #7d0505);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #eebe00;
  box-shadow: 0 0 10px rgba(241, 208, 77, 0.5);
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.5;
}

/* Estilização do calendário */
table {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  background: linear-gradient(135deg, #991B1B, #7A1313);
  color: #fff;
}

th,
td {
  border: 1px solid #F1D04D;
  padding: 10px;
  text-align: center;
}

th {
  background: linear-gradient(135deg, #7A1313, #5c0f0f);
}

.event {
  background: linear-gradient(135deg, #D87C4B, #b44f42);
  color: #fff;
  font-weight: bold;
}

/* Seção de Contato */
.contact-section {
  text-align: center;
  background: linear-gradient(135deg, #991B1B, #7A1313);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(241, 208, 77, 0.3);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  font-weight: bold;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #F1D04D;
  border-radius: 5px;
  background-color: #7A1313;
  color: white;
}

.contact-form button {
  background: linear-gradient(135deg, #D87C4B, #b44f42);
  color: #2C2C2C;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: linear-gradient(135deg, #F1D04D, #991B1B);
  color: #fff;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #00fffc,
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  text-align: center;
}

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
}

.btn-12 span {
  background: linear-gradient(45deg, #a00404, #7d0505);
  display: block;
  font-weight: 800;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px #ffffff,
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  background: linear-gradient(45deg, #a00404, #7d0505);
  color: #fff;
  font-weight: 800;
  box-shadow: inset 2px 2px 2px 0px #c70000,
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  background: linear-gradient(45deg, #7d0505, #a00404);
  color: transparent;
  font-weight: 800;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transform: rotateX(-90deg);
}

@media screen and (max-width: 768px) {
  /* Ajusta o cabeçalho */
  header {
    flex-direction: column;
    text-align: center;
  }

  /* Ajusta a logo para telas pequenas */
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }

  /* Ajusta a navegação para telas pequenas */
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  /* Ajusta a tabela para telas pequenas */
  table {
    font-size: 14px;
  }

  /* Ajusta os formulários */
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  /* Aumenta o tamanho da fonte do título */
  h2 {
    font-size: 1.5em;
  }

  .contact-form {
    padding: 15px;
  }

  /* Ajusta o botão para telas muito pequenas */
  .contact-form button {
    padding: 10px;
  }
}
